<<<<<<< HEAD
/*this catalog define the date the last time I update this resume*/
/*CATALOG 22.10.20*/
=======
/*cleaner version of resume 10/18/22 edited by Bernal*/
>>>>>>> 4ea584fce1c023951f59a19dcf70f33b9ec8d964

body {
	background-color: cyan;
  	font-family: sans-serif;
  	padding: 20px;
  	font-size: 12px;
}

.resume{
	width: 80%;
  	background-color: white;
  	margin-left: auto;
  	margin-right: auto;
  	padding: 20px;
  	max-width: 700px;
}



.phone{
	color: #660000;

}

.email{
	color: #0000CD;
	font-style: serif;
}

.objective{
	text-align: center;

}

.year *{
	text-align: right;
	margin: 15;
}

.title {
	text-align: left;
	font-size:  18px;
  font-family: serif;
}

.text{
  font-size: 12px;
  font-family: Verdana, sans-serif;
}

.res{
  font-family: Verdana;
  font-size: 18px;
}

.info{
  font-family:  serif;  
}


/*some extra*/
.coll{
  background-image: url("source/sky.webp");
  background-size: cover;
  background-repeat: no-repeat;
  width:  100%;
  border-width:   0px;
  padding-top:  26px;
  padding-right:  0px;
  padding-bottom:  18px;
  padding-left:   -16px;

}
.profile {
  position: absolute;
  top: 42px;
<<<<<<< HEAD
  right: 28%;
=======
  right: 500px;
>>>>>>> 4ea584fce1c023951f59a19dcf70f33b9ec8d964
  border-radius:  50%;
}


