
:root {
    --darkmode: #141414;
    --lightmode: #e0e0e0;
    --deepspace: #010b19;
    --deepocean: #021631;
    --sun: #ff401c;
}

#navbar {
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background: linear-gradient(var(--darkmode), transparent);
    /* border: 0.1px solid darkgray; */
    margin: 0;
    overflow: hidden;
    z-index: 100;
}

#navbar h2 {
    font-size: 28px;
}

#navbar #item_container {
    display: flex;
    position: relative;
    gap: 10px;
    padding: 1em .5em;
    background: var(--deepspace);
    border-radius: 5px;
}

#navbar #item_container #item_select label {
    position: relative;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    font-weight: bolder;
    padding: 0 .5em;
    cursor: pointer;
    transition:  500ms color ease-in-out;
    z-index: 1;
}

#navbar #item_container #item_select input {
    display: none;
}

#navbar #item_container #item_select input:not(:checked):hover + label {
    transition-property: "";
    background: linear-gradient(45deg, #e6fb04, #ff6600, 
        #00ff66, #00ffff, #ff00ff, #ff0099, #6e0dd0, 
        #ff3300, #099fff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    opacity: 0.5;
    background-size: 400%;
    animation: glow 20s linear infinite;
}

#navbar #item_container #item_select input:checked + label {
    transition-property: "";
    background: linear-gradient(45deg, #e6fb04, #ff6600, 
        #00ff66, #00ffff, #ff00ff, #ff0099, #6e0dd0, 
        #ff3300, #099fff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    opacity: 0.5;
    background-size: 400%;
    animation: glow 20s linear infinite;
}

@keyframes glow {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

#navbar #item_container #indicator {
    position: absolute;
    top: 0;
    left: 0;
    background: darkred;
    padding: calc(1em + 12px) 2.5em;
    border-radius: 5px;
    transition: .3s ease;
}

#navbar #item_container #item_select label:hover ~ #indicator {
    transition: left 0.3s ease;
}