:root {
    --moonlit: url('https://drive.google.com/file/d/1I1Cjm9HmQVCxDRnEhQP4gFm9glJ4FxiQ/view?usp=sharing');
    --forest: url('https://drive.google.com/file/d/1SMqrgg4HHFxTR6vwSh0CRGdVwNMR0mrv/view?usp=sharing');
    --flower: url('');
}

#selection_container {
    margin-top: 5%;
}

#Home_Content {
    margin: 2em 0;
}

#Home_Content #profile_components {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* Ensure the black background doesn't completely block the background image */
#Home_Content #profile_components #profile_header,
#Home_Content #profile_components #profile_content:last-child #conponent_items:first-child,
#Home_Content #profile_components #profile_content #conponent_items:nth-child(2),
#Home_Content #profile_components #profile_content #conponent_items:last-child {
    background-blend-mode: darken;
    background: linear-gradient(
                45deg, 
                rgb(230, 251, 4, .1), 
                rgb(255, 102, 0, .1), 
                rgb(0, 255, 102, .1), 
                rgb(0, 255, 255, .1), 
                rgb(255, 0, 255, .1), 
                rgb(255, 0, 153, .1), 
                rgb(110, 13, 208, .1), 
                rgb(255, 51, 0, .1), 
                rgb(9, 159, 255, .1));
		background-size: 400%;
		animation: glow 20s linear infinite;
}

@keyframes glow {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 400%;
	}
	100% {
		background-position: 0 0;
	}
}

#Home_Content #profile_components #profile_content #conponent_items div h3 #text {
    cursor: pointer;
}

#Home_Content #profile_components #profile_content #conponent_items:first-child {
    background-color: transparent;
}

#Home_Content #profile_components #profile_content {
    text-align: center;
}

#Home_Content #profile_components #profile_header:first-child #conponent_titles:first-child {
    border-top-left-radius: 25px;
}

#Home_Content #profile_components #profile_header:first-child #conponent_titles:last-child {
    border-top-right-radius: 25px;
}

#Home_Content #profile_components #profile_content:last-child #conponent_items:first-child {
    border-bottom-left-radius: 25px;
}

#Home_Content #profile_components #profile_content:last-child #conponent_items:last-child {
    border-bottom-right-radius: 25px;
}

#Home_Content #profile_components #profile_header #conponent_titles {
    padding: 1em 8em;
    font-size: 20px;
}

#Home_Content #profile_components #profile_content #conponent_items {
    padding: .5em 2em;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#Project_Content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Project_Content #project_item_container {
    display: grid;
    grid-template-rows: 256px;
    grid-template-columns: repeat(5, 256px);
    gap: 2px;
}

#Project_Content #project_item_container #project_item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .1); /* Change the color and transparency level here */
    pointer-events: none;
}

#Project_Content #project_item_container #project_item {
    width: 252px;
    height: 252px;
    background-color: black;
    background-image: url('../images/sunlight-flower-field.gif');
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Project_Content #project_item_container #project_item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(-45deg, #660e0ac2, #0e211ac2, #0e0e21c2, #5b5b0ec2);
    background-size: 200% 200%;
    background-repeat: no-repeat;
    clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
    background-size: 200% 200%;
    animation: gradientforward 10s linear infinite;
}

#Project_Content #project_item_container #project_item #project_type {
    width: 240px;
    height: 240px;
    background-blend-mode: darken;
    clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Project_Content #project_item_container #project_item #project_type #Project_image {
    width: 150px;
    height: 150px;
}

#Project_Content #project_item_container #project_item #project_type[title]::after {
    content: attr(title);
    position: absolute;
    left: 50%;
    bottom: 125%; /* Position above the element */
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    visibility: hidden;
    z-index: 10; /* Ensure tooltip appears above other elements */
}

@keyframes gradientforward {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}