#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    width: 100%;
}

#footer .layer-one {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#footer .layer-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}