.container {
	margin: 10px 0 0 0;
	margin: 5px 0 0 0;
}


span.title {
	font-size: 18px;
	text-align: left;
}

div.item-box {
	width: 50em;
	height: 12em;
	background-color: var(--str--light);
	border-style: solid;
	border-color: var(--str--low-dark);
	border-width: 10px;
	border-radius: 24px;
	margin: 0 0 10px 0;
	display: flex;
}

img.selector {
	font-size: 50px;
	width: 12px;
	margin: 0 5px 0 5px;
}

button {
	background-color: transparent;
	border-radius: 50px;
	border-color: transparent;
}

button:hover {
	background-color: var(--str--mid-gray);
	transition: all .5s;
}

.item {
	width: 200px;
	height: 187px;
	padding: 1em;
	background-color: var(--str--mid-gray);
	border-radius: 20px;
	margin: 5px 5px 5px 5px;
	text-align: center;
}