.slide {
	font-size: 60px;
	padding: 200px;
	margin-top: 10px;
	animation: 5s slide;
}

@keyframes slide {
	from {
		margin-left: -100%;
	}
	to {
		margin-right: 0%;
	}
}

.fade {
  animation: fadeIn ease 10s;
}
@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

div.wel {
	display: flex;
	justify-content: center;
}

div.tr {
	width: 0;
	height: 0;
	border-top: 100px solid var(--str--darker);
	border-bottom: 100px solid var(--str--darker);
	border-right: 200px solid transparent;
}

div.rk {
	height: 200px;
	width: 250px;
	background-color: var(--str--darker);
}	

div.obj {
	display: flex;
	-ms-transform: rotate(135deg);
	transform: rotate(135deg); 
	top: 0;
}