div.divider {
	border-style: solid;
	border-color: var(--str--mid-dark);
	border-width: 10px;
	height: 100%;
	margin: 10px 0 5px 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	position: relative;
}

div.portfolio {
	height: 22em;
	width: 20em;
	background-color: var(--str--mid-gray);
	border-radius: 34px;
}