div.topnav {
	top: 0;
	font-family: 'Lato', 'Poppins', sans-serif;
	font-weight: 700px;
	background-color: var(--str--light);
	text-align: center;
	align-items: center;
	justify-content: center;
	padding: 25px;
	border-radius: 50px;
}

div.topnav > a {
	margin: 0 10px;
	transition: all 0.3s;
	position: relative;
}

div.topnav > a:hover {
	color: var(--str--dark);
	background-color: var(--str--mid-dark);
	border-radius: 50px;
	padding: 10px;
}

div.footer {
	text-align: center;
	background-color: var(--str--light);
	padding: 15px;
	margin-top: 5px;
	margin-bottom: -5px;
	border-radius: 16px 16px 0 0;
	font-size: 14px;
}

div.footer > div.mode {
	text-align: right;
	display: flex;
	margin: 0;
}

.active {
	background-color: var(--str--gray);
	border-radius: 34px;
	padding: 10px;
}