body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.portfolio_wrapper {
    background-color: darkgray;
    max-height: 360px;
    height: 100%;
    border-bottom: 0.2px solid black;
}

.portfolio_container ul {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
/*  */