/*
Root structure
*/

@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Monomaniac+One&family=Pacifico&family=Poppins:ital,wght@0,300;0,400;0,500;1,400&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}


@media (min-width: 501px) and (max-width: 1920px)  {
    body {
        font-size: 14px;
    }
}

@media (min-width: 300px) and (max-width: 500px)  {
    body {
        font-size: 13px;
    }
}


/*
Main structure
*/

.navigation {
    position: fixed;
    background-color: whitesmoke;
    display: flex;
    width: 100%;
    padding: 10px 0 0 0 ;
    border-bottom: 0.2px solid grey;
    z-index: 5;
}


.container {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    padding: 10px;
    justify-content: center;
    align-items: center;
}

/*
Inner Structure

Only found in all page

universal section

*/


.vt2 {
    list-style: none;
    display: flex;
    gap: 0 20px;
    padding: 10px 0 5px 0;
}

/*
Text-Style NV Colored
*/

.nv1 {
    font-size: 18px;
    font-weight: bolder;
}   

.nv3 {
    font-weight: 550;
}

.nv4 {
    font-size: 16px;
    font-weight: 700;
}

.nv5 {
    display: flex;
    flex-direction: column;
    margin: 0;
}

/*
Text-Style BY Non-colored
*/

.by1 {
    font-size: 18px;
    font-weight: bolder;
}

.by2 {
    color: black;
}

.by3 {
    font-size: 16px;
    font-weight: bolder;
}


/*
--navigation section--
*/


.selection, .media {
    font-weight: 500;
}


/*
--contents section--
*/

.contents {
    height: 95%;
    width: 60%;
}

/*
--footer section--
*/

.contexts {
    height: 70%;
    width: 60%;
    padding: 20px;
    border-top: 0.2px solid grey;
    display: flex;
    gap: 10%;
}

.extentions {
    display: flex;
    gap: 100px;
}

/*


Only can be found in the index page of the landing page
*/

.content-container, .container-news, .container-pamous {
    padding: 25px;
}

.content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hv1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-news, .container-pamous {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news-alert {
    font-size: 16px;
    font-weight: 500;
}


.oi {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}


/*


Only can be found in the developer page of the landing page
*/

@media (min-width: 300px) and (max-width: 500px) {
    .hv2 {
        width: 128px;
        height: 128px;
        border-radius: 50%;
    }
    
    .profile-container {
        gap: 25px;
        background-color: #737373;
        border-radius: 25px;
        border: 0.2px solid black;
    }
    
    .img-container {
        display: flex;
        justify-content: center;
        padding: 5px;
    }
    
    .develper-container {
        padding: 10px;
    }
}

@media (min-width: 501px) and (max-width: 1920px) {
    .hv2 {
        width: 256px;
        height: auto;
        border-radius: 25px 0 0 25px;
    }
    
    .profile-container {
        display: flex;
        gap: 25px;
        background-color: #737373;
        border-radius: 25px;
    }
    
    .img-container {
        display: flex;
        justify-content: center;
        padding: 5px;
    }
    
    .img-container::after {
        content: "";
        background-color: black;
        padding: 2px;
        border-radius: 5px;
        transform: translateX(5px);
    }
    
    .develper-container {
        padding: 10px;
    }
}

/*


Only can be found in the developer page of the landing page
*/


.po {
    font-size: 15px;
}


@media (min-width: 300px) and (max-width: 500px) {
    .ku1 {
        width: 100%;
    }
}


/*
Animation
*/

@keyframes ln1 {
	0% {
		background-position: 200% 0;
        transform: translate(25px, 20px);
        width: 0%;
	}
    20%{
        transform: translate(-5px, 20px);
        width: 3.25%;
    }
	100% {
		background-position: 0 0;
	}}
@keyframes ln2 {
	0% {
		background-position: 200% 0;
        transform: translate(25px, 20px);
        width: 0%;
	}
    20%{
        transform: translate(-5px, 20px);
        width: 5.25%;
    }
	100% {
		background-position: 0 0;
	}}
@keyframes ln3 {
	0% {
		background-position: 200% 0;
        transform: translate(25px, 20px);
        width: 0%;
	}
    20%{
        transform: translate(-5px, 20px);
        width: 5.3%;
    }
	100% {
		background-position: 0 0;
	}}
@keyframes ln4 {
	0% {
		background-position: 200% 0;
        transform: translate(25px, 20px);
        width: 0%;
	}
    20%{
        transform: translate(-5px, 20px);
        width: 4.75%;
    }
	100% {
		background-position: 0 0;
	}}
@keyframes ln5 {
	0% {
		background-position: 200% 0;
        transform: translate(25px, 20px);
        width: 0%;
	}
    20%{
        transform: translate(-5px, 20px);
        width: 2.5%;
    }
	100% {
		background-position: 0 0;
	}}


/*
below this is changeable
*/

@media (min-width: 501px) and (max-width: 1920px) {
    .navigation {
        justify-content: space-around;
        align-items: flex-end;
    }
    .footer {
        display: flex;
    }
    .selection, .media {
        margin: 0;
    }
    .bottom-mobile {
        display: none;
    }
    .contents {
        margin: 50px 0 0 0 ;
        padding: 20px 0 0 0;
    }
    .content-container {
        gap: 50px;
    }
    .hw1 {
        width:256px;
        height:256px;
    }
}

@media (min-width: 300px) and (max-width: 500px) {
    .navigation {
        justify-content: space-between;
        align-items: flex-end;
    }
    .hr1, .footer {
        display: none;
    }
    .selection, .media {
        margin: 0 10px;
    }
    .bottom-mobile {
        border-top: 0.2px solid grey;
        gap: 10%;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .contents {
        padding: 50px 0 0 0;
    }
    .hw1 {
        width:128px;
        height:128px;
    }
}

/*
text-style that was position was changed
*/

@media (min-width: 426px) and (max-width: 1920px) {
    .nv6 {
        font-size: 20px;
        font-weight: bolder;
        transform: translateY(-25px);
    }
    
    .nv7 {
        font-size: 18px;
        color: darkgray;
        font-weight: bolder;
        transform: translateY(-30px);
    }
}

@media (min-width: 300px) and (max-width: 500px) {
    .nv6 {
        font-size: 16px;
        font-weight: bolder;
        transform: translateY(-25px);
    }
    
    .nv7 {
        font-size: 14px;
        color: darkgray;
        font-weight: bolder;
        transform: translateY(-30px);
    }
    .content-container {
        gap: 50px;
    }
}


/*
above this is changeable
*/

/*
extra hover for bigger screen
*/

a, .nv1, .nv2, .nv3, .nv4, .nv6 {
    background-image: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}

@media (min-width: 1024px) and (max-width: 1920px) {
    .active-ln1::before {
        content: "";
        background: linear-gradient(45deg, #e6fb04, #ff6600, 
                #00ff66, #00ffff, #ff00ff, #ff0099, #6e0dd0, 
                #ff3300, #099fff);
        position: absolute;
        border-radius: 50px;
        background-size: 200%;
        transform: translate(-5px, 20px);
        padding: 0.2px 0;
        height: 5%;
        width: 3.25%;}
    .active-ln2::before {
        content: "";
        background: linear-gradient(45deg, #e6fb04, #ff6600, 
                #00ff66, #00ffff, #ff00ff, #ff0099, #6e0dd0, 
                #ff3300, #099fff);
        position: absolute;
        border-radius: 50px;
        background-size: 200%;
        transform: translate(-5px, 20px);
        padding: 0.2px 0;
        height: 5%;
        width: 5.5%;}
    .active-ln3::before {
        content: "";
        background: linear-gradient(45deg, #e6fb04, #ff6600, 
                #00ff66, #00ffff, #ff00ff, #ff0099, #6e0dd0, 
                #ff3300, #099fff);
        position: absolute;
        border-radius: 50px;
        background-size: 200%;
        transform: translate(-5px, 20px);
        padding: 0.2px 0;
        height: 5%;
        width: 5.3%;}
    .active-ln4::before {
        content: "";
        background: linear-gradient(45deg, #e6fb04, #ff6600, 
                #00ff66, #00ffff, #ff00ff, #ff0099, #6e0dd0, 
                #ff3300, #099fff);
        position: absolute;
        border-radius: 50px;
        background-size: 200%;
        transform: translate(-5px, 20px);
        padding: 0.2px 0;
        height: 5%;
        width: 4.75%;}
    .active-ln5::before {
        content: "";
        background: linear-gradient(45deg, #e6fb04, #ff6600, 
                #00ff66, #00ffff, #ff00ff, #ff0099, #6e0dd0, 
                #ff3300, #099fff);
        position: absolute;
        border-radius: 50px;
        background-size: 200%;
        transform: translate(-5px, 20px);
        padding: 0.2px 0;
        height: 5%;
        width: 2.5%;}
    .ln1:hover::before {
        content: "";
        background: linear-gradient(45deg, #e6fb04, #ff6600, 
                #00ff66, #00ffff, #ff00ff, #ff0099, #6e0dd0, 
                #ff3300, #099fff);
        position: absolute;
        border-radius: 50px;
        background-size: 200%;
        transform: translate(-5px, 20px);
        padding: 0.2px 0;
        height: 5%;
        width: 3.25%;
        animation: ln1 2s forwards 1;}
    .ln2:hover::before {
        content: "";
        background: linear-gradient(45deg, #e6fb04, #ff6600, 
                #00ff66, #00ffff, #ff00ff, #ff0099, #6e0dd0, 
                #ff3300, #099fff);
        position: absolute;
        border-radius: 50px;
        background-size: 200%;
        transform: translate(-5px, 20px);
        padding: 0.2px 0;
        height: 5%;
        width: 5.25%;
        animation: ln2 2s forwards 1;}
    .ln3:hover::before {
        content: "";
        background: linear-gradient(45deg, #e6fb04, #ff6600, 
                #00ff66, #00ffff, #ff00ff, #ff0099, #6e0dd0, 
                #ff3300, #099fff);
        position: absolute;
        border-radius: 50px;
        background-size: 200%;
        transform: translate(-5px, 20px);
        padding: 0.2px 0;
        height: 5%;
        width: 5.3%;
        animation: ln3 2s forwards 1;}
    .ln4:hover::before {
        content: "";
        background: linear-gradient(45deg, #e6fb04, #ff6600, 
                #00ff66, #00ffff, #ff00ff, #ff0099, #6e0dd0, 
                #ff3300, #099fff);
        position: absolute;
        border-radius: 50px;
        background-size: 200%;
        transform: translate(-5px, 20px);
        padding: 0.2px 0;
        height: 5%;
        width: 4.75%;
        animation: ln4 2s forwards 1;}
    .ln5:hover::before {
        content: "";
        background: linear-gradient(45deg, #e6fb04, #ff6600, 
                #00ff66, #00ffff, #ff00ff, #ff0099, #6e0dd0, 
                #ff3300, #099fff);
        position: absolute;
        border-radius: 50px;
        background-size: 200%;
        transform: translate(-5px, 20px);
        padding: 0.2px 0;
        height: 5%;
        width: 2.5%;
        animation: ln5 2s forwards 1;}
}

@media (min-width: 501px) and (max-width: 1920px) {

    .new-container-2 {
        display: grid;
        grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
        grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    }

    .oi:nth-child(1) {
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .oi:nth-child(2) {
        grid-row-start: 4;
        grid-row-end: 7;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .oi:nth-child(3) {
        grid-row-start: 7;
        grid-row-end: 10;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .oi:nth-child(4) {
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 4;
        grid-column-end: 7;
    }
    .oi:nth-child(5) {
        grid-row-start: 4;
        grid-row-end: 7;
        grid-column-start: 4;
        grid-column-end: 7;
    }
    .oi:nth-child(6) {
        grid-row-start: 7;
        grid-row-end: 10;
        grid-column-start: 4;
        grid-column-end: 7;
    }
    .oi:nth-child(7) {
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 7;
        grid-column-end: 10;
    }
    .oi:nth-child(8) {
        grid-row-start: 4;
        grid-row-end: 7;
        grid-column-start: 7;
        grid-column-end: 10;
    }
    .oi:nth-child(9) {
        grid-row-start: 7;
        grid-row-end: 10;
        grid-column-start: 7;
        grid-column-end: 10;
    }}
@media (min-width: 300px) and (max-width: 500px) {
    
    .new-container-2 {
        display: grid;
        grid-template-columns:  100px 100px 100px;
        grid-template-rows: 100px 100px 100px 
                            100px 100px 100px 
                            100px 100px 100px 
                            100px 100px 100px 
                            100px 100px 100px
                            100px 100px 100px 
                            100px 100px 100px 
                            100px 100px 100px 
                            100px 100px 100px;
    }


    .oi:nth-child(1) {
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .oi:nth-child(2) {
        grid-row-start: 4;
        grid-row-end: 7;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .oi:nth-child(3) {
        grid-row-start: 7;
        grid-row-end: 10;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .oi:nth-child(4) {
        grid-row-start: 10;
        grid-row-end: 13;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .oi:nth-child(5) {
        grid-row-start: 13;
        grid-row-end: 16;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .oi:nth-child(6) {
        grid-row-start: 16;
        grid-row-end: 19;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .oi:nth-child(7) {
        grid-row-start: 19;
        grid-row-end: 22;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .oi:nth-child(8) {
        grid-row-start: 22;
        grid-row-end: 25;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .oi:nth-child(9) {
        grid-row-start: 25;
        grid-row-end: 28;
        grid-column-start: 1;
        grid-column-end: 4;
    }}

@media (min-width: 501px) and (max-width: 1920px) {
    .content-container::before {
        content: "";
        background: linear-gradient(45deg, #e6fb04, #ff6600, 
                #00ff66, #00ffff, #ff00ff, #ff0099, #6e0dd0, 
                #ff3300, #099fff);
        position: absolute;
        border-radius: 50px;
        background-size: 200%;
        transform: translate(65px, -3px);
        padding: 0.2px 0;
        height: 43%;
        width: 0.2%;
    }
}

@media (min-width: 300px) and (max-width: 500px) {
    .content-container::before {
        content: "";
        background: linear-gradient(45deg, #e6fb04, #ff6600, 
                #00ff66, #00ffff, #ff00ff, #ff0099, #6e0dd0, 
                #ff3300, #099fff);
        position: absolute;
        border-radius: 50px;
        background-size: 200%;
        transform: translate(20px, -3px);
        padding: 0.2px 0;
        height: 30%;
        width: 0.2%;
    }
}